<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device-width, initial-scale-1.0"/>
    <link rel="stylesheet" href="{% static 'player/css/styles.css' %}"/>
    {% block style %}{% endblock style %}
    <link rel="icon" href="{% static 'player/images/logo_ico.png' %}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
            integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <title>{{ title|default:"ML Music" }}</title>
</head>
<body>

<div class="sidebar">
    <div class="sidebar-nav">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo_white.png' %}" alt=""/>
            </a>
        </div>

        <ul>
            <li>
                <a href="/">
                    <span><i class="fa-solid fa-house"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'search_tracks' %}">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <span>Search</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-nav box2">

        {% include 'player/menu/playlist_section.html' %}

        {% include 'player/menu/lower_menu.html' %}
    </div>
</div>

<!-- .................Main Section Starts From Here................. -->

<div class="main-section">
    <div class="top-nav">
        <div class="prev-btn">
            <button><i class="fa-solid fa-chevron-left"></i></button>
            <button><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        {% if user.is_authenticated %}
            <div class="profile">
                <div class="prof-btns">
                    <a href=""><h4>{{ user }}</h4></a>
                    <a href="{% url 'logout' %}"><p>Log out</p></a>
                </div>
                <a href=""><img src="{{ default_photo }}"/></a>
            </div>
        {% else %}
            <div class="login-btn">
                <button class="sign-up" onclick="window.location.href='register'">
                    Sign Up
                </button>
                <button class="login" onclick="window.location.href='login'">
                    Login
                </button>
            </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    <div class="music-player">
        {% include 'player/menu/player.html' %}
    </div>
</div>
</body>


</html>