{% extends 'player/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'player/css/album_page.css' %}">

    <div class="playlist-header">
        <div class="gradient-background">
            <img class="playlist-avatar" src="{{ playlist.logo.url }}" alt="Playlist avatar">
        </div>
        <div class="playlist-info">
            <h1>{{ playlist.name }}</h1>
            <p>By <a href=""> {{ playlist.owner }}</a></p>
        </div>
    </div>
    <div class="track-list">
        {% include 'player/menu/tracks_column.html' %}
    </div>
{% endblock %}