.artist-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgb(134, 134, 134);
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.artist-card:hover {
    background: rgba(179, 112, 255, 0.52);
}

.artist-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.artist-info h2 {
    margin: 0;
    font-size: 48px;
    color: #fff;
}

.artist-info p {
    margin-left: 10px;
    color: #bbb;
}

.verified {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5e00ca;
    font-weight: bold;
}

.follow-btn {
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background: #5e00ca;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.follow-btn:hover {
    background: #de02ff;
}

.top5-track-list {
    margin: 20px;
}

.track {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.track:hover {
    background-color: #282828;
}

/* Логотип трека */
.track-logo img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
}

/* Информация о треке */
.track-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.track-name {
    font-size: 16px;
    font-weight: bold;
}

.track-artist {
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 2px;
}

/* Длительность трека */
.track-duration {
    font-size: 14px;
    color: #b3b3b3;
    margin-right: 15px;
}

/* Иконка Play */
.play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e00ca;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    visibility: hidden;
    position: absolute;
    right: 20px;
}

.track:hover .play-icon {
    visibility: visible;
}

.play-icon button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.play-icon button:hover {
    transform: scale(1.1);
}

.playlist-info a{
    all: unset;
    cursor: pointer;
}

.playlist-info a:hover {
    text-decoration: underline;
}

.track-info a{
    all: unset;
    cursor: pointer;
}

.track-info a:hover {
    text-decoration: underline;
}

.top5-track-list h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: #fff;
}
