
.privacy {
    margin-top: auto;
}

.privacy ul {
    list-style: none;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.privacy ul li {
    padding: 0 6px;
}

.privacy ul li a {
    text-decoration: none;
    color: #575656;
    font-size: 12px;
    font-weight: 600;
}

.privacy ul li a:hover {
    text-decoration: underline;
    color: #5e00ca;
}