{% load static %}

<link rel="stylesheet" href="{% static 'player/css/menu/tracks_column.css' %}">

{% for track in tracks_for_column %}
    <div class="track"
         data-src="{{ track.mp3.url }}"
         data-logo="{{ track.logo.url }}"
         data-name="{{ track.name }}"
         data-author="{{ track.main_author }}"
         data-duration="{{ track.duration }}"
    >
        <div class="track-number">{{ forloop.counter }}</div>
        <div class="play-icon">
            <button>&#9654;</button>
        </div>
        <div class="track-logo">
            <img src="{{ track.logo.url }}" alt="{{ track.name }}">
        </div>
        <div class="track-info">
            <p class="track-name">{{ track.name }}</p>
            <p class="track-artist"><a href="{{ track.main_author.get_absolute_url }}">{{ track.main_author }}</a>

                {% for feat_artist in track.featured_authors.all %}
                    {% if forloop.first %} feat {% endif %}
                    <a href="{{ feat_artist.get_absolute_url }}"> {{ feat_artist.name }} </a>
                    {% if not forloop.last %} , {% endif %}
                {% endfor %}
            </p>
        </div>
        <p class="track-duration">{{ track.duration }}</p>
    </div>
{% empty %}
{% endfor %}

<script src="{% static 'player/js/format_time.js' %}"></script>