{% load static %}

<link rel="stylesheet" href="{% static 'player/css/menu/tracks_row.css' %}">

<div class="genre-section">
    <div class="tracks">
        {% for track in all_author_tracks|slice:":7" %}
            <div class="track"
                 data-src="{{ track.mp3.url }}"
                 data-logo="{{ track.logo.url }}"
                 data-name="{{ track.name }}"
                 data-author="{{ track.main_author }}">
                <img src="{{ track.logo.url }}" alt="{{ track.name }}">
                <div class="track-name">{{ track.name }}</div>
                <div class="track-author"><a
                        href="{{ track.main_author.get_absolute_url }}">{{ track.main_author }}</a></div>
            </div>
        {% endfor %}
    </div>
</div>